body {
  background: url(servad.jpg);
  background-size:cover;
  text-align: center;
}
.cont{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}
.cont div {
 flex-grow: 1;
}
.link a {
  text-decoration: none;
  font-size: 2em;
  font-family: serif, monospace;
  font-style: italic;
  color: black;
}
#sisu {
  display: block;
  text-align: center;
  position: relative;
  top: 300px;
}
#vorm {
   position: relative;
   top: 100px;
   list-style-type: none;
}
#nupp {
    position: relative;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
}
#logReg span{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    }
#logReg li{
    margin: 15px;
    }
#logReg {
    margin-bottom: 100px;
    }

#regbox {
position: relative;
display: none;
list-style-type: none;
}
#logboxx {
position: relative;
list-style-type: none;
}
#logboxx, #logReg {
position: relative;
list-style-type: none;
}
#exit {
    text-align: right;
}
#exit a{
    color: whitesmoke;
    font-size: 1em;
}
.foorum{
    text-align: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    list-style-type: none;  
}
.foorum li{
    display: inline;
    flex-grow: 1;
    border-radius: 10px;
    padding: 3px;
}
.master{
    text-align: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    list-style-type: none;  
    margin-left: 100px;
}
.master li{
    text-align: left;
    display: inline;
    flex-grow: 1;
    border-radius: 10px;
    padding: 3px;
}
#err {
    margin-top: 10px;
    align-content:  center;
    color: red;
}
#vastused{
    font-family: serif, sans-serif, monospace;
    font-style: italic;
}
p {
    font-family: serif, sans-serif, monospace;
    font-style: italic;
    font-size: 2em;
}
